$yellow: #D5B117;
$gold: #B29138;
$green: #224048;
$grey: #979694;
$ltgrey: #B2B4B2;
$dkGrey: #857f6f;
$blue: #193035;
$tan: #E4E1D1;
$khaki: #F8F6ED;

@font-face {font-family:GPCBook;
  src:url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.eot');
  src:url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.eot?iefix') format('embedded-opentype'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.woff') format('woff'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.ttf') format('truetype'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.svg#svgGPCBook') format('svg');
}
@font-face {font-family:GPCMed;
  src:url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.eot');
  src:url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.eot?iefix') format('embedded-opentype'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.woff') format('woff'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.ttf') format('truetype'),
      url('https://www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.svg#svgGPCMed') format('svg');
}


body {
	background: $khaki;
}

h1, h2, h3, h4, h5 {
	font-family: GPCMed, sans-serif;
	color: $green;
	font-weight: normal;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
}


.index header .feedback {
	display:none;
}

/* BRANDING HEADER */
.bwrapper {
  background-color: #002A5D;
  background-position: 0 0;
  background-repeat: repeat-x;
  background:rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #003b7c 0%, #001227 100%) repeat scroll 0 0;
  height: 50px;
  display: block !important;
  position:relative;
  z-index: 200;
}

#header {
  display: block;
  position: relative;
  width: 98%;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: 0;
  margin: 0 auto;
  max-width: 960px;
}

#header h3 {
  float: left;
}

#header h3 i,
#header h2 i {
  text-transform: none;
  font-weight: normal;
}

#header h3 img {
  display: none;
}

#header h2 {
  float: right;
}

#header h3,
#header h2 {
  margin: 18px 0 15px;
  padding: 0;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: normal;
  font-family: "Adobe Garamond Pro", Garamond, Georgia, Times, "Times New Roman", serif;
}

#header h3 a,
#header h2 a {
  margin: 0;
  border: none;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

#header h3.nddotedu a {
	height:0;
	overflow: hidden;
	padding-top: 16px;
	display: block;
	background: url(https://static.nd.edu/images/brandbar/dept-nd-white@2x.png) ;
	background-position: 0 -16px;
	background-size: cover;
}

#header h2.dept-ksga a {
	height:0;
	overflow: hidden;
	padding-top: 16px;
	display: block;
	background: url(https://static.nd.edu/images/brandbar/dept-ksga-white@2x.png) ;
	background-position: 0 -16px;
	background-size: cover;
}

body.gold-gray #header h3 a,
body.gold-gray #header h2 a {
  color: #002b5c;
}

body.gold-blue #header h3 a,
body.gold-blue #header h2 a {
  color: #002b5c;
}

#header h3 a:hover,
#header h2 a:hover {
  color: #f6efd2;
}

/* over-ride for graphic type */
#header.gtype h3,
#header.gtype h2 {
  margin: 0;
}

#header.gtype h3 a,
#header.gtype h2 a {
  display: block;
  height: 50px;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url(http://library.nd.edu/images/brand-type.png);
  background-repeat: no-repeat;
}

#header.gtype h3 a {
  float: left;
}

#header.gtype h2 a {
  float: right;
}

.nddotedu a {
  width: 310px;
}

.blue .nddotedu a {
  background-position: 0 -50px;
}

.dept-prov a {
  width: 234px;
  background-position: 0 -1900px;
}

/* Office of the Provost */
.blue .dept-prov a {
  background-position: 0 -1950px;
}

/* Site title */
#header h1 {
  float: left;
  clear: both;
  width: 70%;
  height: auto;
  margin: 20px 0;
  padding: 0 0;
  font-weight: normal;
  line-height: 1em;
  font-family: GPCBook,"HelveticaNeue",Helvetica,Arial,Verdana,sans-serif;
  color: #4C374B;
  color: #fff;
  letter-spacing: .05em;
  width: auto;
  background: none;
}

#header h1 span {
  color: #fff;
  background: #4C374B;
  font-size: 90%;
  padding: .5% 1%;
  display: inline-block;
  font-family: GPCBook,"HelveticaNeue",Helvetica,Arial,Verdana,sans-serif;
}

#header h1 a {
  display: block;
  width: auto;
  border: none;
  color: #333;
  text-decoration: none;
  font-weight: normal;
}

body.gold-blue #header h1 a {
  color: #333;
  text-shadow: 0 0 1px #000;
}

#header h1.tag-lined {
  margin-top: 20px;
}

#header h4 {
  clear: both;
  margin: 0;
  color: #002b5c;
  text-shadow: 0 0 1px #fff;
  font-weight: normal;
}

body.gold-blue #header h4 a {
  color: #f5e6a0;
  text-shadow: 0 0 1px #000;
}

.menu {
  font-size: 18px;

  a {
    color:#333;
    padding:4px 0;
    font-size: 20px;
    display: block;

  }
  a:hover {
    text-decoration: none;
  }
}

header {
  border-bottom: double 3px $grey;
  margin-bottom: 4px;
	background: $green;
	padding: 11px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;

	* {
		line-height: 1em;
	}

	h1 {
		color: $yellow;
		text-transform: uppercase;
		font-size: 25px;
		margin: 0;
    	padding-top: 5px;
		line-height: 1em;
		* {
			vertical-align: top;
		}
	}
	.tagline {
		color: $yellow;
		font-size: 18px;
		font-family: GPCBook, sans-serif;
		text-transform: uppercase;
		margin: 0;
	}


	.feedback {
			font-size:13px;
			background: $dkGrey;
			padding:8px;
			border-radius: 5px;
			text-transform:uppercase;
			color:$green;
	}
  .feedback:hover {
    background: $blue;
    text-decoration: none;
  }
	.cchr {
		height: 30px;
		margin-bottom: 0px;
	}
	.cchr.m {
		position: absolute;
		bottom:80px;
		left:15px;
		height:40px;
	}
	.cds {
		height:40px;
		position: absolute;
		bottom:15px;
		left:15px;
	}
	.material-icons {
		margin-right: 0 !important;
	}
	button {
		min-width: auto !important;
	}
}

nav {
	ul {
		list-style: none;
		padding: 0;

		li {
			list-style: none;
			a {
				color: $green;
				font-family: GPCBook, sans-serif;
				text-decoration: none;
				line-height: 1em;
				font-size: 14px;
			}
		}
	}
}

.body {
	width: 100%;
	margin:0 auto;
	display: flex;
	flex-direction: row;
	align-items: stretch;

	nav {
		a {
			color: $green;
			font-size: 24px;
			font-family: GPCBook, sans-serif;
			text-decoration: none;
			padding:11px 0;
			line-height: 1em;
			display: block;
		}
	}

	nav.filter {
		li ul {
			margin-left:24px;
		}
		a {
			color: $grey;
			font-family: GPCMed, sans-serif;
			font-size:18px;
			text-transform: none;
			padding:4px 0 4px 24px;
			background: url(/resources/images/closed.png) no-repeat 3px 4px;
			display: inline-block;
		}

		a.open {
			background-image: url(/resources/images/open.png);
			background-position: 0 8px;
		}
		input {
			border: solid $grey 1px;
			height:14px;
			width:14px;
			float: right;
		}
	}

	section {
		margin-top: 5px;
		margin-bottom: 5px;

		h1 {
			font-size: 22px;
		}
	}
}

.doc-list {
	margin-bottom:100px;
}



.search {
	input {
		border: solid 3px $grey;
		border-radius: 6px;
		color: $grey;
		font-family: GPCBook;
		font-size: 20px;
		font-weight: bold;
		padding:6px 5px;
		text-transform: uppercase;
		background: $khaki;
		box-shadow: 0px 0px 6px rgba(0,0,0,.65);
		vertical-align: middle;
	}

	.glyphicon {
		color: $grey;
		font-size: 30px;
		color: $khaki;
		text-shadow: 0px 0px 6px rgba(0,0,0,.65);
		-webkit-text-stroke: 3px $grey;
		vertical-align: middle;
	}
}

.results {
	.helpers {
		float: left;
		width:100%;
		clear: both;

		a {
			color: $blue;
		}
	}
	article {
		background: white;
		margin-bottom: 8px;
		float: left;
		width: 100%;
		clear: both;
   overflow: hidden;
		padding:6px;

		h4 {
			margin: 0;
			font-size: 18px;
			float: left;
			a {
				color: $yellow;
				padding-right: 24px;
				background: url(/resources/images/closed.png) no-repeat right 3px ;

			}
			a.open {
				background: url(/resources/images/open.png) no-repeat right 8px;
			}
      a:hover {
        text-decoration: underline;
      }

		}

		a {
			color:$grey;
			font-family: GPCMed;
		}

		.paragraphNumber {
			float: right;
			font-size: 14px;
			font-family: GPCMed;
			color: $ltgrey;
			font-weight: bold;
		}

		.blurb {
			clear: both;
			padding:10px;
			float: left;
			widows: 100%;

			p {
				color: $grey;
      margin: 0;

      &:last-of-type {
        margin: 10px 0 0 0;
      }
			}

			a {
				font-size: 12px;
				color: $blue;
			}
		}
		hr {
			border:none;
			background: white;
			height:1px;
		}
	}
}

.filters {
	overflow-y: scroll;
	max-height: calc(100vh - 138px);
}

.partners {
	table {
		width: 100%;
		margin-bottom:4em;

		td {
			width: 50%;
			text-align: center;
			padding: 0 0 1em;

			img {
				max-width: 20vw;
				max-height: 12vw;
			}
		}
	}
	h2 {
		font-size:26px !important;
		padding:15px 15px 0;
	}
}

footer {
	width: 100vw;
	margin: 0px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: double 3px $yellow;
  bottom: 0px;
  background-color: $tan;
  position: fixed;
  z-index: 4;

	img.undhl {
		vertical-align: bottom;
		margin-right: 15px;
		margin-bottom: 5px;
		height:35px;
    	float: right;
	}
	img.cds {
		margin-right:15px;
	}
	img.cchr {
    vertical-align: bottom;
		margin-left: 15px;
		margin-bottom: 5px;
		height:35px;
	}
}



a.right {
	float:right;
}

a.left {
	float: left;
}

button.right {
	float: right;
}

.right {
		img {
			float: right;


		}
	}


.index {
  a.main-heading {
    color: white;
  }

	header {
		background: none;
		padding: 0;
		margin:0 auto;
		max-width: 960px;
		text-align: center;
		border: none;
		margin-top:6vh;

		.col-sm-9 {
			margin: 0 auto;
			width: 100%;
		}

		.col-sm-3 {
			display: none;
		}

		h1 {
			color: #fff;
			font-size: 104px;
			text-align: center;
			text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
			font-family: "Adobe Garamond",Garmond,Georgia,"Times New Roman",Times,serif;
			border-bottom:solid 2px #fff;
			border-top:solid 2px #fff;
			box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.8);
			width: 650px;
			margin:0 auto;
			button {
				display: none !important;
			}
		}
		h2 {
			color:#fff;
			text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
			font-weight: normal;
			font-size:30px;
		}


		p {
			color: #fff;
			font-size:22px;
			width: 450px;
			margin: 0 auto;
		}

		.col-md-8 {
			width: 100%;
		}

		.col-md-4 {
			display: none;
		}

		.cchr {
			display:none;
		}
	}

	.search {
		background: rgba(212,176,47,.3);
		width: 100%;
		padding:30px 0 15px;
		margin-top: 15vh;

		h2 {
			text-align: center;
			font-size: 40px;
			text-transform: uppercase;
			font-family: GPCBook;
			margin-top:0;
		}
		p {
			text-align: center;
			font-size: 16px;
			font-family: GPCBook;
			margin:0;
		}
		a {
			color:#fff;
			text-shadow: 2px 2px 1px rgba(0,0,0,.8)
		}
		a:hover {
			text-decoration: none;
		}
		.glyphicon {
			vertical-align: initial;
		}
	}

	header, .search, nav {
		position: relative;
		z-index: 20;
	}

	nav {
		float: left;
		width: 100%;
		background: rgba(11,34,63,.3);
		padding: 30px 0;
		z-index: 200;

		ul {
			width: 960px;
			margin:0 auto;
    padding-bottom: 15px;
    text-align: center;

			li {
				display: inline-block;
				padding: 0 75px;

				a {
					color: #fff;
					font-size: 26px;
					font-family: GPCMed;
					text-shadow: 2px 2px 1px rgba(0,0,0,.8)
				}

			}
		}
	}

	.home-frame {
		position: absolute;
		top: 0;
		width: 100%;
	}

	.carousel {
		max-height: 86vh;
   min-height: 86vh;
		overflow: hidden;


		.fader {
			background: -moz-linear-gradient(top,  rgba(248,246,237,0) 0%, rgba(248,246,237,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(248,246,237,0) 0%,rgba(248,246,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(248,246,237,0) 0%,rgba(248,246,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8f6ed', endColorstr='#f8f6ed',GradientType=0 ); /* IE6-9 */
			height:10vh;
			position: absolute;
			bottom: 0;
			width: 100%;
			z-index: 2;
		}

		.item img {
			width: 100%;
			max-width: initial;
		}
	}
  .carousel-indicators {
    bottom: 20px;
    z-index: 20;
  }

	footer {
		max-width: 960px;
		margin: 3vh auto 0;
		clear: both;
		position: static;
		background: none;
		margin-bottom:3em;
		nav {
			display: none;
		}

		img {
			width: 150px;
			height: auto;
		}

		img.cchr {
			display: block;
			float: left;
			display: none;

		}
		.compare {
			display:none;
		}
		.col-sm-5, .col-sm-8 {

			padding-top: 16px;
		}
		.col-sm-2 {
			width: 100%;
			text-align: center;
			padding-top: 16px;
			z-index: 5;
		}
   .col-sm-4 {
			text-align: left;
			padding-top: 16px;
			z-index: 5;

      a {
        color: $green;
      }
		}
		.feedback {
        color: #333;
  			display:block;
    }
	 }
}

footer.homepage {
	display: none;
}

.index footer.homepage, .index footer .cchr {
	display: block;
}

.index footer.all {
	display:none;
}

.feedback {
    color: #333;
    display:block;
}

.tearms {
	font-size:11px;
	color:#333;
	a {
		color:#333;
	}
}

.filters {
	li {
		padding-bottom: 8px;

	}

	a {
		color:#333;
		font-weight: bold;
		font-size:16px;
		vertical-align: middle;
	}
}

.doc-list {
	.subtitle {
		padding-left:10px;
		p {
			color: $grey;
			margin: 0;
		}
	}
}

.slider-slide {
	overflow: hidden;
	height:90vh !important;
	& > img {
    min-width: 100%;
    min-height: 110vh;
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
		display:block;
		margin-top:-20vh;
	}
}

.left-col {
  padding-bottom: 0;
  padding-top: 15px;
  background: $tan;
  margin-top: 0;
  min-height: calc(100vh - 50px);

  h2 {
    font-size:22px;
  }

  label {
    color: $green;
  }
  ul ul {
        padding-left: 1em !important;
    }
}

.right-col {
  padding-right: 0;


  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }
}

.info-page {
	margin-bottom: 50px;
	padding-right: 50px;
	h2 {
		font-size:26px;
	}
	h3 {
		font-size:20px;
	}
}

.instructions {
	padding: 15px 25px;
	background: $dkGrey;
	* {
		color:#fff;
	}
	p {
		padding-left:3em;
		width:75%;
	}
	h2 {
		font-size:36px;
	}
	h3 {
		font-size:20px;
	}
}

a.main-heading {
  color: $yellow;
}


.index nav ul.contentnav li a {
	font-size:30px;
}

.index nav ul.aboutnav li a {
	font-size:22px;
}

.toolbar-group div {
  display:inline-block;
}

.contact iframe {
	border:none;
}

.partners-c {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-content: space-between;
	flex-wrap: wrap;
	padding-right:20px;

}


.partners-c a {
	margin-left:40px;
	margin-bottom:20px;
	max-width: 28%;
	text-align: center;
	font-size:20px;
}

.partners-c li {
	width:46%;
	float: left;
	list-style: none;
	min-height: 8em;
	margin-right:4%;

	a {
		font-size:14px;
		text-align: left;
		margin-left: 0;
	}
}


.partners-c img {
	max-width:100%;
	max-height:110px;
}

.partners-c .smaller img {
	max-height:70px;
}

.partners-c .larger img {
	max-height:130px;
}

@media screen and (max-height: 890px) {
	.index .carousel-indicators {
		bottom:auto;
		top:60px;
	}
	
}

@media screen and (max-height: 760px) {
	.index footer {
		margin-bottom: 0;
	}
	.index .search {
		margin-top:5vh;
	}
	.index nav {
		padding:15px 0;
	}
	.index {

	}
}



.crowdsourcing-buttons {
  margin-top: 1em;
}
