$yellow: #D5B117;
$gold: #B29138;
$green: #224048;
$grey: #979694;
$ltgrey: #B2B4B2;
$blue: #193035;
$tan: #E4E1D1;
$khaki: #F8F6ED;

@font-face {font-family:GPCBook;
  src:url('//www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.eot');
  src:url('//www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.eot?iefix') format('embedded-opentype'),
      url('//www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.woff') format('woff'),
      url('//www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.ttf') format('truetype'),
      url('//www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Book.svg#svgGPCBook') format('svg');
}
@font-face {font-family:GPCMed;
  src:url('//www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.eot');
  src:url('//www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.eot?iefix') format('embedded-opentype'),
      url('//www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.woff') format('woff'),
      url('//www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.ttf') format('truetype'),
      url('//www.nd.edu/assets/fonts/GalaxiePolarisCondensed-Medium.svg#svgGPCMed') format('svg');
}


body {
	background: $khaki;
}

h1, h2, h3, h4, h5 {
	font-family: GPCMed, sans-serif;
	color: $green;
	font-weight: bold;
}

header {
  border-bottom: double 3px $grey;
  margin-bottom: 4px;
	background: $blue;
	padding: 11px;

	h1 {
		color: $yellow;
		text-transform: uppercase;
		font-size: 25px;
		margin: 0;
    padding-top: 5px;
		line-height: 1em;
	}
	.tagline {
		color: $yellow;
		font-size: 18px;
		font-family: GPCBook, sans-serif;
		text-transform: uppercase;
		margin: 0;
	}
	.cchr {
		height: 49px;
		margin-bottom: 10px;
	}
	.cds {
		height:17px;
	}
}

nav {
	ul {
		list-style: none;
		padding: 0;

		li {
			list-style: none;
			a {
				color: $green;
				font-family: GPCBook, sans-serif;
				text-decoration: none;
				line-height: 1em;
				font-size: 14px;
			}
		}
	}
}

.body {
	width: 98vw;
	margin:5px auto;
	display: flex;
	flex-direction: row;
	align-items: stretch;

	.left-col {
		padding-left: 0;
		background: $tan;
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 15px;

		h2 {
			font-size:22px;
		}

		label {
			color: $green;
		}
	}

	.right-col {
		padding-right: 0;

		h1 {
			font-size: 22px;
		}

		h2 {
			font-size: 18px;
		}
	}

	nav {
		a {
			color: $green;
			font-size: 24px;
			text-transform: uppercase;
			font-family: GPCBook, sans-serif;
			text-decoration: none;
			padding:11px 0;
			line-height: 1em;
			display: block;
		}
	}

	nav.filter {
		li ul {
			margin-left:24px;
		}
		a {
			color: $grey;
			font-family: GPCMed, sans-serif;
			font-size:18px;
			text-transform: none;
			padding:4px 0 4px 24px;
			background: url(/resources/images/closed.png) no-repeat 3px 4px;
			display: inline-block;
		}

		a.open {
			background-image: url(/resources/images/open.png);
			background-position: 0 8px;
		}
		input {
			border: solid $grey 1px;
			height:14px;
			width:14px;
			float: right;
		}
	}

	section {
		margin-top: 5px;
		margin-bottom: 5px;

		h1 {
			font-size: 22px;
		}
	}
}

.search {
	input {
		border: solid 3px $grey;
		border-radius: 6px;
		color: $grey;
		font-family: GPCBook;
		font-size: 20px;
		font-weight: bold;
		padding:6px 5px;
		text-transform: uppercase;
		background: $khaki;
		box-shadow: 0px 0px 6px rgba(0,0,0,.65);
		vertical-align: middle;
	}

	.glyphicon {
		color: $grey;
		font-size: 30px;
		color: $khaki;
		text-shadow: 0px 0px 6px rgba(0,0,0,.65);
		-webkit-text-stroke: 3px $grey;
		vertical-align: middle;
	}
}

.results {
	.helpers {
		float: left;
		width:100%;
		clear: both;

		a {
			color: $blue;
		}
	}
	article {
		background: white;
		margin-bottom: 8px;
		float: left;
		width: 100%;
		clear: both;
		padding:6px;

		h4 {
			margin: 0;
			font-size: 18px;
			float: left;
			a {
				color: $yellow;
				padding-right: 24px;
				background: url(/resources/images/closed.png) no-repeat right 3px ;

			}
			a.open {
				background: url(/resources/images/open.png) no-repeat right 8px;
			}

		}

		a {
			color:$grey;
			font-family: GPCMed;
		}

		.paragraphNumber {
			float: right;
			font-size: 14px;
			font-family: GPCMed;
			color: $ltgrey;
			font-weight: bold;
		}

		.blurb {
			clear: both;
			padding:10px;
			float: left;
			widows: 100%;

			p {
				color: $grey;
			}

			a {
				font-size: 12px;
				color: $blue;
			}
		}
		hr {
			border:none;
			background: white;
			height:1px;
		}
	}
}

.partners {
	table {
		width: 100%;
		margin-bottom:2em;

		td {
			width: 50%;
			text-align: center;
			padding: 0 0 1em;

			img {
				max-width: 20vw;
				max-height: 12vw;
			}
		}
	}
}

footer {
	width: 100vw;
	margin: 5px auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: double 3px $yellow;

	img {
		vertical-align: bottom;
		margin-right: 15px;
		margin-bottom: 5px;
	}


}

a.right {
	float:right;
}

a.left {
	float: left;
}

.right {
		img {
			float: right;
			margin-right: 0;
			clear: right;
		}
	}

.index {
	header {
		background: none;
		padding: 0;
		margin:0 auto;
		max-width: 960px;
		text-align: center;
		border: none;
		margin-top:8vh;

		h1 {
			color: #fff;
			font-size: 54px;
		}

		p {
			color: #fff;
			font-size:22px;
			width: 450px;
			margin: 0 auto;
		}

		.col-md-8 {
			width: 100%;
		}

		.col-md-4 {
			display: none;
		}
	}

	.search {
		background: rgba(212,176,47,.3);
		width: 100%;
		padding:30px 0 15px;
		margin-top: 20vh;

		h2 {
			text-align: center;
			font-size: 40px;
			text-transform: uppercase;
			font-family: GPCBook;
			margin-top:0;
		}
		p {
			text-align: center;
			font-size: 16px;
			font-family: GPCBook;
			margin:0;
		}
		a {
			color:#fff;
			text-shadow: 2px 2px 1px rgba(0,0,0,.8)
		}
		a:hover {
			text-decoration: none;
		}
		.glyphicon {
			vertical-align: initial;
		}
	}

	header, .search, nav {
		position: relative;
		z-index: 20;
	}

	nav {
		float: left;
		width: 100%;
		background: rgba(11,34,63,.1);
		padding: 12px 0;
		margin-top:10%;

		ul {
			width: 960px;
			margin:0 auto;

			li {
				float: left;
				padding: 0 80px;

				a {
					color: #fff;
					font-size: 26px;
					font-family: GPCMed;
					text-shadow: 2px 2px 1px rgba(0,0,0,.8)
				}

			}
		}
	}

	.home-frame {
		position: absolute;
		top: 0;
		width: 100%;
	}

	.carousel {
		max-height: 68vh;
		overflow: hidden;

		.fader {
			background: -moz-linear-gradient(top,  rgba(248,246,237,0) 0%, rgba(248,246,237,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(248,246,237,0) 0%,rgba(248,246,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(248,246,237,0) 0%,rgba(248,246,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8f6ed', endColorstr='#f8f6ed',GradientType=0 ); /* IE6-9 */
			height:10vh;
			position: absolute;
			bottom: 0;
			width: 100%;
			z-index: 2;
		}

		.item img {
			width: 100%;
			max-width: initial;
		}
	}

	footer {
		max-width: 960px;
		margin:0 auto;
		clear: both;

		nav {
			display: none;
		}
	}
}
