$documentTitle: #D5B117;
$documentBackground: white;
$documentTextColor: #224048;
$documentAddToCompareColor: #224048;
$documentSelectedParagraph: #B2B4B2;

body {
  height: 100%;
}

.document {
  background-color: $documentBackground;
  margin: 0.5em 0;
  padding: 0.2em 1em;
  color: $documentTextColor;
  font-family: GPCMed, sans-serif;
}

.notebook-column {
  max-width: 39em;
  font-size: 16px;
  float: left;
}

.notebook-column.left {
  margin-right: 10px;
}
.notebook-column.right {
  margin-left: 10px;
}


.document-title {
  color: $documentTitle;
}

.selected-paragrah {
  background-color: $documentSelectedParagraph;
  color: black;
}

.add-to-compare {
  color: $documentAddToCompareColor;
}

.add-to-compare-checkbox {
  font-size: 18px;
  vertical-align: text-top;
  padding-right: 20px;
}

.heading {
  background-color: #cacccb;
  padding: 0.25em;
  text-align: center;
  margin-top: 7px;
}

.top-links {
  color: $documentTextColor;
  font-size: 1.2em;
  line-height: 2em;
}
