$documentTitle: #D5B117;
$documentBackground: white;
$documentTextColor: #224048;
$documentAddToCompareColor: #224048;
$documentSelectedParagraph: #D6E3F1;

body {
  height: 100%;
}

.document {
  background-color: $documentBackground;
  margin: 0.5em 0;
  padding: 0.2em 1em;
  color: $documentTextColor;
  font-family: GPCMed, sans-serif;
  overflow-y: auto;
  position: relative;
  clear: both;

  * {
    border:solid 1px red;
    -ms-overflow-style: none;
  }
}

.document-head {

  background-color: $documentBackground;
  margin: 0.5em 0;
  padding: 0.2em 1em;
  font-family: GPCMed, sans-serif;
  margin-bottom:2.2em;
}

.notebook-column {
  max-width: 39em;
  font-size: 16px;
  float: left;

  .document {
    max-height: calc(100vh - 305px);
    overflow-y: auto;
  }
}


.search-list {
  overflow-y: auto;
  max-height: calc(100vh - 225px);
}

.document-title {
  color: $documentTitle;
}

.document-title:hover {
  text-decoration: underline;
}

.selected-paragraph {
  background-color: $documentSelectedParagraph;
  color: black;
}

.paragraph {
  padding:2px 5px;
  margin:1em 0;
  font-family: Roboto,sans-serif;

  ol {
    list-style-type: none;
  }
}



.add-to-compare {
  color: $documentAddToCompareColor;
  padding: 10px 9px;
}

.paragraph-section .add-to-compare {
  padding: 0;
}

.add-to-compare-checkbox {
  font-size: 18px;
  vertical-align: text-top;
  padding-right: 20px;
}

.heading {
  background-color: #cacccb;
  padding: 0.25em;
  text-align: center;
  margin-top: 7px;
}

.top-links {
  color: $documentTextColor;
  font-size: 1.2em;
  line-height: 2em;
}

.search-separator {
  margin-top: 10px;
  margin-bottom: 5px;
}

.heading1, .heading2, .heading3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  margin:0;
}

.heading1 {
  font-weight: normal;
}

.heading3 {
  font-style: italic;
}

.subheading1 {
  text-align: center;
  text-transform: uppercase;
}

.notebook-list {
  background: #fff !important;


  h3 {
    margin-top:0;
    margin-bottom: 20px;
    float: left;
  }

  h4 {
    background: #cacccb;
    padding: 4px;
    clear: both;
  }

  ul {
    margin-bottom: 2em;
  }

  li {
    font-weight: bold;
    li {
      font-weight: normal;
    }
  }
  li:hover {
    text-decoration: underline;
  }
  .top-links {
    float: right;
    i {
      font-size:18px;
    }
    span {
      font-size:14px;
    }
  }
}



.drawer {
  border: 4px solid #D5B117;
  /*box-shadow: 0px -1px 5px #aaa;*/
  border-radius: 8px 8px 0 0;
  div:last-child {
      float: right;
  }
  .last {
    padding-right:0 ;
    button {
      float: right;
    }
  }
}

.drop {
  box-shadow: inset 0 0 3px #999;
  width: 100%;
  padding: 20px 20px 30px;
  border-radius: 4px 4px 0 0;
  background:#fff;
}

.view-document {
  font-size: 14px;
  color: #224048;
  cursor: pointer;
  padding: 1px;
}

.view-document-icon {
  font-size: 16px;
  vertical-align: middle;
  color: #224048;
  cursor: pointer;
}
